.delete-success-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
  }

.delete-failed-message{
  color: red;
}
.delete-success-message{
  color: #0154FA;
}

  .delete-success-message, .delete-failed-message {
    font-size: 15px;
    font-weight: bold;
  }
  